

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Announcement User</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button id="btnViewAll" class="btn btn-success">View ALL</button>
                    <button id="btnDeleteAll" class="btn btn-danger">DeleteAll</button>
                    <button id="btnDeleteUnRead" class="btn btn-dark">DeleteUnRead</button>
                    <button id="btnDeleteSeen" class="btn btn-primary">DeleteSeen</button>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">AnnouncementId </th>
                            <th class="column-title">Title </th>
                            <th class="column-title">Create Date </th>
                            <th class="column-title">Decsription </th>
                            <th class="column-title">HasRead </th>
                            <th class="column-title">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody id="annoncementAllList"> </tbody>

                </table>
                <!--Pagination-->

                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                        <select id="ddlShowPage">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span class="item-per-page">
                            bản ghi/trang.
                        </span>
                        Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                    </div>
                </div><div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                        <ul id="paginationUL"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script id="announcement-table-template" type="x-tmpl-mustache">

    <tr class="even pointer">
        <td class=" ">{{Id}}</td>
        <td class=" ">{{Title}}</td>
        <td class=" ">{{DateCreated}}</td>
        <td class=" ">{{Content}}</td>
        <td class=" ">{{{Status}}}</td>
        <td class=" ">
            <button data-id="{{Id}}" id="btnDelete" class="btn btn-warning">Delete</button>
            <button data-id="{{Id}}" id="btnView" class="btn btn-info">View</button>
        </td>
    </tr>



</script>

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Announcement Send To User</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                     @{
                        var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
                    }
                    @if (result.Succeeded)
                    {
                        <button id="btnCreate" class="btn btn-success">Create</button>
                    }
                  
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">AnnouncementId </th>
                            <th class="column-title">Title </th>
                            <th class="column-title">Create Date </th>
                            <th class="column-title">Decsription </th>
                            <th class="column-title">Region </th>
                            <th class="column-title">Status </th>
                            <th class="column-title">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody id="annoncementCreateList">

                        <tr class="even pointer">
                            <td class=" ">Id</td>
                            <td class=" ">Title</td>
                            <td class=" ">date created</td>
                            <td class=" ">Descriptopn</td>
                            <td class=" "> Public </td>
                            <td class=" ">Status</td>
                            <td class=" ">
                                <button data-id="{{Id}}" id="btnDelete2" class="btn btn-warning">Delete</button>
                                <button data-id="{{Id}}" id="btnUpdate" class="btn btn-info">Update</button>
                            </td>
                        </tr>
                        <tr class="even pointer">
                            <td class=" ">Id</td>
                            <td class=" ">Title</td>
                            <td class=" ">date created</td>
                            <td class=" ">Descriptopn</td>
                            <td class=" "> Private </td>
                            <td class=" ">Status</td>
                            <td class=" ">
                                <button data-id="{{Id}}" id="btnDelete2" class="btn btn-warning">Delete</button>
                                <button data-id="{{Id}}" id="btnUpdate" class="btn btn-info">Update</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <!--Pagination-->

                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                        <select id="ddlShowPage">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span class="item-per-page">
                            bản ghi/trang.
                        </span>
                        Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                    </div>
                </div><div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                        <ul id="paginationUL"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>