

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-12">
                <div class="footer-logo"><a href="/"><img src="/client-side/images/footer-logo.png" alt="fotter logo"></a> </div>
                <p>Lorem Ipsum is simply dummy text of the print and typesetting industry. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet.</p>
                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="javascript:void(0);"><i class="fa fa-google"></i></a></li>
                        <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    <div class="tabBlock" id="TabBlock-1">
                        <ul class="list-links list-unstyled">
                            <li><a href="deliveryinformation.html">Delivery Information</a></li>
                            <li><a href="/privacypolicy.html">Privacy Policy</a></li>
                            <li><a href="/faq.html">FAQs</a></li>
                            <li><a href="/termscondition.html">Terms &amp; Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                    <div class="tabBlock" id="TabBlock-3">
                        <ul class="list-links list-unstyled">
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                    <div class="tabBlock" id="TabBlock-4">
                        <ul class="list-links list-unstyled">
                            <li><a href="/account.html">Account</a></li>
                            <li><a href="/wishlist.html">Wishlist</a></li>
                            <li><a href="/cart.html">Shopping Cart</a></li>
                            <li><a href="/returnpolicy.html">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Working hours<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                    <div class="tabBlock" id="TabBlock-5">
                        <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        <div class="footer-description">
                            <b>Monday-Friday:</b> 8.30 a.m. - 5.30 p.m.<br>
                            <b>Saturday:</b> 9.00 a.m. - 2.00 p.m.<br>
                            <b>Sunday:</b> Closed
                        </div>
                        <div class="payment">
                            <ul>
                                <li><a href="javascript:void(0);"><img title="Visa" alt="Visa" src="/client-side/images/visa.png"></a></li>
                                <li><a href="javascript:void(0);"><img title="Paypal" alt="Paypal" src="/client-side/images/paypal.png"></a></li>
                                <li><a href="javascript:void(0);"><img title="Discover" alt="Discover" src="/client-side/images/discover.png"></a></li>
                                <li><a href="javascript:void(0);"><img title="Master Card" alt="Master Card" src="/client-side/images/master-card.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 <a href="/"> ShopMart </a>. All Rights Reserved. </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="footer-company-links">
                        <li> <a href="/about.html">About ShopMart</a> </li>
                        <li> <a href="/privacypolicy.html">Privacy Policy</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="javascript:void(0);" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>