

@model List<FunctionViewModel>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Functions</h3>
        <ul class="nav side-menu">
            @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
            {
                <li>
                    <a><i class="fa @item.IconCss"></i> @item.Name <span class="fa fa-chevron-down"></span></a>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <ul class="nav child_menu">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="@jitem.URL">@jitem.Name</a></li>

                            }
                        </ul>
                    }

                </li>

            }

        </ul>
    </div>
</div>
<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>

    <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:void(0)">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
                       
