

@model Shop3.Application.ViewModels.Common.FeedbackViewModel
@*var partialViewHtml = await this.Html.RenderViewAsync("FeedBack/_ContactMailToUser", Model, true);*@ 
 
222222
<table>
    <tr>
        <td>Name : </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Message : </td>
        <td>@Model.Message</td>
    </tr>
</table>
