@section Styles{

     <link href="~/admin-side/css/feedback/feedback.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/app/controllers/feedback/index.js" asp-append-version="true"></script>
    <script>
        var feedback = new FeedBackController();
        feedback.initialize();

    </script>

}
<div class="page-title">
    <div class="title_left">
        <h3>FeedBack <small>send from user</small></h3>
        @{
            var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
        }
        @if (result.Succeeded)
        {
            <button class="btn btn-success" id="btnCreate" type="button">Create</button>
        }
    </div>

    <div class="title_right">
        
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-3 mail_list_column">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create)).Succeeded)
                        {
                            <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>

                        }


                        <div id="mail-table"></div>

                    </div>

                    <!-- /MAIL LIST -->
                    <!-- CONTENT MAIL -->
                    <div class="col-sm-9 mail_view" hidden>
                      
                        <div id="mailDetail-table"></div>

                    </div>
                    <!-- /CONTENT MAIL -->
                </div>
            </div>
            <!--Pagination-->
            <div class="pagination">
            <div class="col-sm-5">
                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                    <select id="ddlShowPage">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                    <span class="item-per-page">
                        bản ghi/trang.
                    </span>
                    Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                </div>
             </div><div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                        <ul id="paginationUL"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
   

    <a href="javascript:void(0)" id="mail" data-id="{{Id}}">
        <div class="mail_list">
            <div class="left">
                {{#Status}}
                <i class="fa fa-edit"></i>
                {{/Status}}
                {{^Status}}
                <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                {{/Status}}

            </div>
            <div class="right">
                <h3>{{Name}} <small>{{DateCreated}}</small></h3>
                <p> {{Message}} </p>
            </div>
        </div>
    </a>

</script>
<script id="mailDetail-template" type="x-tmpl-mustache">

    <div class="inbox-body">
        <div class="mail_heading row">
            <div class="col-md-8">
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" type="button" data-id="{{Id}}">Reply</button>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
                    {
                        <button  data-id="{{Id}}" id="btnDeleteFb" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                       
                    }
                   
                </div>
            </div>
            <div class="col-md-4 text-right">
                <p class="date"> {{DateCreated}}</p>
            </div>
            <hr/>
            <div class="col-md-12">
                <strong>{{Name}}</strong>
                <span>( {{Email}} )</span> to
                <strong>me</strong>
                <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>

        <hr/>
        <div class="view-mail">
            <p> {{Message}}   </p>

        </div>
        <div class="attachment">
            <p>
                <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                <a href="#">Download all attachments</a> |
                <a href="#">View all images</a>
            </p>

        </div>
    </div>

</script>