<div id="addEditSlideModalByAlias" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Slide</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <div class="form-group">
                        <input type="hidden" id="hidIdM" value="0" />
                        <input type="hidden" id="hidGroupAlias" value="0" />
                        <label for="txtName" class="col-sm-2 control-label no-padding-right">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtName" class="form-control" id="txtName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtGroupAlias" class="col-sm-2 control-label no-padding-right">GroupAlias</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtGroupAlias" class="form-control" id="txtGroupAlias">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtDesc" class="col-sm-2 control-label no-padding-right">Description</label>
                        <div class="col-sm-10">
                            <textarea rows="4" name="txtDesc" class="form-control" id="txtDesc"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtContent" class="col-sm-2 control-label no-padding-right">Content</label>
                        <div class="col-sm-10">
                            <textarea rows="4" name="txtContent" class="form-control" id="txtContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtImage" class="col-sm-2 control-label no-padding-right">Image</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                <input type="file" id="fileInputImage" style="display: none" />
                                <span class="input-group-btn">
                                    <input type="button" id="btnSelectImg" class="btn btn-default" value="Browser" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtUrl" class="col-sm-2 control-label no-padding-right">Url</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtUrl" class="form-control" id="txtUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtDisplayOrder" class="col-sm-2 control-label no-padding-right">DisplayOrder</label>
                        <div class="col-sm-10">
                            <input type="text" name="txtDisplayOrder" class="form-control" id="txtDisplayOrder">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <span class="text">Active </span>
                                <label>

                                    <input class="js-switch" type="checkbox" checked="checked" id="ckStatus">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Save</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>

                </form>
                

            </div>
        </div>
    </div>
</div>
<script id="slide--template" type="x-tmpl-mustache">



</script>
