
<aside class="right sidebar col-sm-3 col-xs-12">
    <div class="sidebar-account block">
        <div class="sidebar-bar-title">
            <h3>My Account</h3>
        </div>
        <div class="block-content">
            <ul>
                @*<li class="current"><a href="/wishlist.html" id="wishlist">My Wishlist</a></li>*@
                <li ><a href="/wishlist.html" id="wishlist">My Wishlist</a></li>
                <li><a href="/mydashboards.html" id="dashboard">Account Dashboard</a></li>
                <li><a href="/myorders.html" id="orders">My Orders</a></li>
                @*<li><a href="javascript:void(0);">Account Information</a></li>
                <li><a href="javascript:void(0);">Address Book</a></li>
                <li><a href="javascript:void(0);">Billing Agreements</a></li>
                <li><a href="javascript:void(0);">Recurring Profiles</a></li>
                <li><a href="javascript:void(0);">My Product Reviews</a></li>
                <li class="last"><a href="javascript:void(0);">Newsletter Subscriptions</a></li>*@
            </ul>
        </div>
    </div>
    @*<div class="compare block">
        <div class="sidebar-bar-title">
            <h3>Compare Products (2)</h3>
        </div>
        <div class="block-content">
            <ol id="compare-items">
                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Vestibulum porta tristique porttitor.</a> </li>
                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Lorem ipsum dolor sit amet</a> </li>
            </ol>
            <div class="ajax-checkout">
                <button type="submit" title="Submit" class="button button-compare"> <span> Compare</span></button>
                <button type="submit" title="Submit" class="button button-clear"> <span> Clear All</span></button>
            </div>
        </div>
    </div>*@
</aside>
