



<div id="reorders" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reoder</h4>
            </div>
            <form  id="frmMaintainance">
            <div class="modal-body">
                <div id="horizontal-form">

                    <input type="hidden" id="hidId" value="0"/>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="messagereoder" rows="10"></textarea>
                    </div>



                </div>
             </div>
                <div class="modal-footer" >
                    
                    <button type="submit" class="btn btn-primary sendmessage" title="Send" id="send"> Send</button>
                </div> 
            </form>
        </div>
    </div>
</div>

