

@using Shop3.Extensions;
@using Microsoft.AspNetCore.Authorization
@using Shop3.Authorization
@inject IAuthorizationService AuthorizationService
@{
    var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
    var result2 = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update);
    var result3 = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete);
}
@if (result.Succeeded || result2.Succeeded || result3.Succeeded)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gentelella Alela! | </title>
        <!-- Bootstrap -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!-- Font Awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <!-- NProgress -->
        <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
        <!-- bootstrap-daterangepicker -->
        <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
        <!-- notify -->
        <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
        <link href="~/lib/iCheck/skins/flat/green.css" rel="stylesheet" />
        <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
        <!-- Switchery -->
        <link href="~/lib/switchery/dist/switchery.min.css" rel="stylesheet">
        @RenderSection("Styles", required: false)


        <!-- Custom Theme Style -->
        <link href="~/admin-side/css/custom.css" rel="stylesheet" />
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/admin/home" class="site_title"><i class="fa fa-paw"></i> <span>Noname Shop</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="/admin-side/images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>@User.GetSpecificClaim("FullName")</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->

                        @await Component.InvokeAsync("SideBar")

                        <!-- /sidebar menu -->
                       
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">

                                    @await Html.PartialAsync("_LoginPartial")


                                </li>

                                <li role="presentation" id="announcementArea" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>

                                        <span class="badge bg-green"><label id="totalAnnouncement"></label></span>

                                    </a>

                                    <ul id="annoncementList" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">


                        @RenderBody()

                    </div>
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Design by <a href="https://www.facebook.com/nonametw">Noname9xnd</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        @* template thông báo user *@

        <script id="announcement-template" type="x-tmpl-mustache">
            <li data-id="{{Id}}">
                <a>
                    @*<span class="image"><img src="{{Avatar}}" alt="Profile Image" /></span>*@
                    <span class="image">{{{Avatar}}}</span>
                    <span>
                        <span>{{FullName}}</span>
                        <span class="time">{{DateCreated}}</span>
                    </span>
                    <span class="message">
                        {{Content}}
                    </span>
                </a>
            </li>
        </script>
        <script id="announcement-tag-template" type="x-tmpl-mustache">
            <li>
                <div class="text-center">
                    <a id="seeall">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </script>

        @* template thông báo user *@



        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/signalr.js"></script>

        <!-- Bootstrap -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- FastClick -->
        <script src="~/lib/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/lib/nprogress/nprogress.js"></script>

        <script src="~/lib/mustache/mustache.js"></script>

        <!-- Chart.js -->
        <script src="~/lib/Chart.js/dist/Chart.js"></script>

        <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>

        <!-- jQuery Sparklines -->
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-validation/dist/localization/messages_vi.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <!-- Switchery -->
    <script src="~/lib/switchery/dist/switchery.min.js"></script>


        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>


        <!-- nhúng js -->

        <script src="~/lib/notifyjs/dist/notify.js"></script>
        <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
        <script src="~/lib/bootbox/src/bootbox.js"></script>

        <environment names="Development">
            <script src="~/app/shared/common.js" asp-append-version="true"></script>
            <script src="~/admin-side/js/custom.js" asp-append-version="true"></script>
            <script src="~/app/shared/signalR/signalR.js" asp-append-version="true"></script>

        </environment>
        <environment names="Staging,Production">
            <script src="~/bundled/site-admin.min.js" asp-append-version="true"></script>

            <script src="~/admin-side/js/custom.min.js" asp-append-version="true"></script>

        </environment>
        <script src="~/app/shared/signalR/signalR.js" asp-append-version="true"></script>
    @*<script src="~/app/shared/Announcement.js" asp-append-version="true"></script>

       <script>
            var announcementObj = new AnnouncementController();
            announcementObj.initialize();
        </script>*@

        <script src="~/app/controllers/announcement/index.js" asp-append-version="true"></script>
        <script>
            var announcementJS = new AnnouncementJSController();
            announcementJS.initialize();
        </script>

        @RenderSection("Scripts", required: false)  @*trang con có áp dụng thì áp dùng không thì thôi*@
    </body>
</html>
}