


@model Shop3.Application.ViewModels.Common.FeedbackViewModel

<h3> Thanks for your message </h3>
<table>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>@Model.Message</td>
    </tr>
</table>

