
@section Scripts{
    <script src="~/app/controllers/contact/index.js" asp-append-version="true"></script>
    <script>
        var contact = new ContactController();
        contact.initialize();
    </script>
    
}


<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Contact Details</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @{
                        var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
                    }
                    @if (result.Succeeded)
                    {
                        <button class="btn btn-success" id="btnCreate" type="button">Create</button>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>

                <tbody id="contact-table"> </tbody>
            </table>

        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>

        <td>{{Name}}</td>
        <td>{{Phone}}</td>
        <td>{{Email}}</td>
        <td>{{{Website}}}</td>
        <td>{{Address}}</td>
        <td>{{{Status}}}</td>
        
        <th scope="row">
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
            {
                <a class="btn  btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
            {
                <a class="btn  btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></a>

            }
        </th>
    </tr>
</script>

<div class="clearfix"></div>
@await Html.PartialAsync("_AddEditModal.cshtml")